
.background_img{
    z-index: 1;
    position: fixed;
    width: 100%;
    
    height: 100vh;
    background-size: cover;
}

            /* Slider */
.slider-content {
    position: absolute;
    top: -70vh;
    right: -5vw;
    z-index: 3;
    
}
.slider-content_box {
    margin-right: 10px;
}
.slider-content_header{
    margin-bottom: 24px;
    font-size: 1.5rem;
}
.slider-content_text{

    -webkit-font-smoothing: antialiased;
    font-size: 0.7rem;
}
.slider-content_input{
    display: inline-block;
    margin: 54px 0 24px 0 !important;
}
.slider-content_input input{
    width: 260px;
    line-height: 50px;
    margin-left: 12px;
    border: 1px solid rgb(233, 233, 18);
    background-color: rgba(0, 0, 0, 0);
    padding: 0 12px;
    color: #fff;
    font-size: 1rem;
}
.slider-content_input input::placeholder{
    color:rgb(255, 255, 255);
    font-size: 0.8rem;
    
}
.slider-content_input .sign-up{
    background-color: rgb(233, 233, 18);
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: black;
    padding: 0 2px;
    font-size: 0.8rem;
}
.slider-content_input .sign-up:hover{
    background-color: rgb(255, 255, 0);
}

.slider-content .comment{
    -webkit-font-smoothing:antialiased;
    font-size: 0.7rem;
}


/* PROJECT INFO */
.project-info{
    padding: 150px 0;
    align-items: center;
    background-color:var(--background-opacity);
}
.project-info .info-items{
    
}
.project-info .info-item{
    text-align: center;
}
.project-info .info-item i {
    font-size: 1.8rem;
    padding: 12px 0;
}
.project-info .info-item_param{
    padding: 12px 0 4px 0;
    font-size: 1.8rem;

}
.project-info .info-item-title{
    font-weight: 200;
    font-size: 0.6rem;
    text-transform: uppercase;
}




/* NOTICE */

#notice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: hidden;
    background-color: var(--background-opacity);
    padding: 0 0 100px 0;
}

.notice-info{
    position: relative;
}
.notice-info_content{
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    
}
.notice-info_content-box{
    margin: 60px;
    letter-spacing: 2px;
    font-size: 0.8rem;
}
.notice-info_title{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.notice-info_desc{
    font-weight: 200;

}
.notice-info_button{
    position: absolute;
}
.notice-info_button:hover{
    background-image: var(--background-img-box-hover);
}
