body{

}
.header-search {

}
.header-search a{
    right: 0;
    text-decoration: none;
    color: #fff;
    float: right;
    margin-right: 30px;
    font-size: 1.3rem;
}

/* silder-introduction */
.slider-intro_comment{
    position: absolute;
    bottom: 0;
    padding: 50px;
    font-size: 0.6rem;
}
#slider-intro {
    position: absolute;
    top: 500px;
    width: 100%;
    margin: 40px 190px;
    display: flex;
}
#slider-intro .slider-intro_items{

}
#slider-intro .slider-intro_item{
    font-size: 0.9rem;
}
.slider-intro_item .intro_item-bike_name{
    padding-top: 20px;
    letter-spacing: 3px;

}
.slider-intro_btn{
    margin-top: 44px ;
    margin-left: 40px;
}
.slider-intro_btn a{
    margin-left: 180px;
}
.slider-intro_btn a:hover{
    background-image: var(--background-img-box-hover);
}


/* content bike */
#content-bike{
    color: #111;
    padding: 100px;
}
.content-bike_title{
}
.content-bike_name{
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.content-bike_desc{
    font-size: 1.6rem;
    margin-bottom: 40px;
    letter-spacing: 4px;
}
.content-bike_content{
    

}
.content-bike_content-text{
    font-size: 0.7rem;
    line-height: 24px;
    letter-spacing: 2px;
}
.content-bike_content-text p{
    width: 95%;
}
.content-bike_content-img{
    text-align: center;
}
.content-bike_content-img img{
    width: 95%;
    height: 100%;
    /* margin-right: 30px; */
}
.content-bike_img img{
    padding-top: 80px;
}


/* session-posts */

.session-posts{
    color: #111;
    margin-top: 40px;
    
}
.session-post{
    margin-bottom: 80px;
}
.session-post_item{
    letter-spacing: 2px;
}
.session-post_img{
    text-align: center;
    height: 400px;
    background-size: auto;
    overflow: hidden;
}
.session-post_item .text-header{
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-weight: 600;
}
.session-post_item .text-desc{
    font-size: 0.7rem;
    line-height: 24px;

}
.session-post_img img{
    width: 90%;
    background-size: cover;
    transform: translateY(-30%);
}

/* configurator_stageWrapper */
.configurator_stageWrapper{
    color: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.configurator_stage{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}
.configurator_stage-img{
    width: 100%;
    background-image: #ddd;
    display: none;
}
.configurator_stage-img img{
    width: 100%;
}
.configurator_desc{
    margin-top: 30px;
    padding: 20px;
}
.configurator_desc-title{
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 14px;
    letter-spacing: 2px;
}
.configurator_desc-text{
    font-size: 0.7rem;
    letter-spacing: 2px;
}
.configurator_optionNav{
    background-color: #eee;
    padding-bottom: 20px;
    position: relative;
    z-index: 5;
}

.optionNav_options-img{
    display: flex;
    position: absolute;
    top: -100px;
    width: 100%;
    list-style: none;
    align-items: center;
}
.optionNav_option-img{
    width: 80px;
    height: 60px;
    margin-right: 18px;
    cursor: pointer;
}
.optionNav_option-img.active{
    border: inset 3px;
}
.option-img_color{

}
.optionNav_options{
    list-style: none;
    margin-top: 30px;
}
.optionNav_option{
    padding: 30px 20px 20px 20px;
    display: none;

}
.optionNav_option-content{
    width: 100%;
    
}
.optionNav_option-title{
    padding-bottom: 14px;
    font-size: 0.7rem;
}
.optionNav_option-text{
    font-size: 0.7rem;
    letter-spacing: 2px;
    padding-bottom: 30px;
}
.optionNav_option-btn{
    text-decoration: none;
    margin: 20px;
}